{% extends 'main.html' %}

{% block title %} Login {% endblock %}


{% block content %}

<div class="container">
    <div class="box" >
        <h2 style="text-align: center; color: #555;">Password reset</h2>
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
                        {% for key, error in form.errors.items %}
                                        <strong>{{ error }}</strong>
                            {% endfor %}
          <button type="button" class="btn-close name1" data-bs-dismiss="alert" aria-label="close"></button>
      </div>
    
        {% endif %}
        <form  method="POST">
            {% csrf_token %}
            {% for forms in form %}
            {{forms.label}}
            {{forms}}
            {% endfor %}
           <div class="center" style="margin: 10px 0;">
            <button type="submit" class="btn btn-outline-info">Reset </button>
            <a href="{% url 'loginpage' %}" class="btn btn-outline-sucondary" style="float: right;" >Go back and Sign In</a>
        </div>
        </form>
    </div>
</div>

{% endblock %}