{% extends 'main.html' %}

{% block title %} Login {% endblock %}


{% block content %}

<div class="container">
    <div class="box" >
        <h2 style="text-align: center; color: #555;">Password reset</h2>
        {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}} alert-dismissible fade show  name" role="alert" >
          <strong> {{msg.message}}</strong>
          <button type="button" class="btn-close name1" data-bs-dismiss="alert" aria-label="close"></button>
      </div>
    
        {% endfor %}
        <form  method="POST">
            {% csrf_token %}
            {{form.email.label}}
           {{form.email}}
           <div class="center" style="margin: 10px 0;">
            <button type="submit" class="btn btn-outline-info">Request password reset</button>
            <a href="{% url 'loginpage' %}" class="btn btn-outline-sucondary" style="float: right; " >Go back and Sign In</a>
        </div>
        </form>
    </div>
</div>

{% endblock %}